/* Fonts */
	@font-face {
		font-family: 'ChunkFiveRegular';
		src: url('Chunkfive-webfont.eot');
		src: url('Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
			 url('Chunkfive-webfont.woff') format('woff'),
			 url('Chunkfive-webfont.ttf') format('truetype'),
			 url('Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
		font-weight: normal;
		font-style: normal;

	}
	
/* Html */
	html{
		background-image:url('squairy_light.png');
		padding: 0px;
		margin: 0px;
	}

/* Header */
	#top-bar{
		/* positioning */
			position:absolute;
			top:0%;
			bottom:88%;
			left:0%;
			right:0%;
		/* style */
			background-color:white;
			opacity:0.6;
			filter:alpha(opacity=60); /* For IE8 and earlier */
	}
	#logo{
		/* positioning */
			position:absolute;
			bottom:5%;
			left: 5%;
		/* style */
			color:black;
			font-size:4em;
			font-family: 'ChunkFiveRegular';
	}
	#address{
		/* positioning */
			position:absolute;
			top:5%;
			right:2.5%;
		/* style */
			font-family:calibri;
			font-size:1.3em;
			color:#009999;
	}
	#link-bar{
		/* positioning */
			position:absolute;
			bottom:10%;
			right:2.5%;
		/* style */
			font-size:1.3em;
			font-family:calibri;
			
	}
	#link-bar a{
		margin-left:15px;
		color:black;
		text-decoration:none;
	}
	#link-bar a:hover{
		color:#FF0000;
		transition-duration: 0.3s;
	}

/* Side Bar */
	.links{
		/* positioning */
			position:absolute;
			left:0%;
			right:92%;
			top:12%;
			bottom:0%;
		/* style */
			background-color:lightblue;
			font-family:calibri;
			font-size:1.5em;
			opacity:0.6;
			filter:alpha(opacity=60); /* For IE8 and earlier */
			border-right:3px solid white;
	}
	.links a{
		/* positioning */
			margin-left:10px;
			line-height:200%;
		/* style */
			text-decoration:none;
			color:black;
			border-bottom: 2px solid #009999;
	}
	.links a:hover{
		border-bottom:2px solid black;
		transition-duration: 0.3s;
	}
	
/* Inbox */
	#message-container{
		/* positioning */
			position:absolute;
			top:20%;
			left:13%;
			right:5%;
			padding:1%;
		/* style */
			background-color: lightgray;
			opacity: 0.6;
			filter:alpha(opacity=60); /* For IE8 and earlier */
			font-family:calibri;
	}
	#message-container a{text-decoration:none; color:black;}
	#message-container a:link{ color:blue;}
	#message-container a:visited{ color:black;}
	#message-container a:hover{color:red;}
	#message-container .date{margin-left:10px}
	#message-container .sender{margin-left:10px}
	#message-container .subject{margin-left:10px}
	#message-container .time {position:absolute; right:1%;}
	
	/* Delete Button */
		#delete-button-container{
			position:absolute;
			bottom:79%;
			left:13%;
		}
		.delete-button {
			-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
			-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
			box-shadow:inset 0px 1px 0px 0px #ffffff;
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
			background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
			background-color:#ededed;
			border:1px solid #dcdcdc;
			display:inline-block;
			color:black;
			font-family:arial;
			font-size:15px;
			font-weight:bold;
			padding:5px 24px;
			text-decoration:none;
			text-shadow:1px 1px 0px #ffffff;
		}.delete-button:hover {
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
			background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
			background-color:#dfdfdf;
		}.delete-button:active {
			position:relative;
			top:1px;
		}
		/* This imageless css button was generated by CSSButtonGenerator.com */

/* Read Message */
	#email-container{
		/* positioning */
			position:absolute;
			top:20%;
			left:13%;
			right:5%;
			padding:1%;
		/* style */
			background-color: lightgray;
			opacity: 0.6;
			filter:alpha(opacity=60); /* For IE8 and earlier */
			font-family:calibri;
	}
	#email-container #from{
		font-weight:bold;
	}
	#reply-foward-button-container{
		position:absolute;
		top:3%;
		right:1%;
	}
/* Send Message */
	#send-container{
		/* positioning */
			position:absolute;
			top:20%;
			left:13%;
			right:5%;
			bottom:41%;
			padding:1%;
		/* style */
			background-color: lightgray;
			opacity: 0.6;
			filter:alpha(opacity=60); /* For IE8 and earlier */
			font-family:calibri;
	}
	#send-button-container{
		position:absolute;
		top:3%;
		right:1%;
	}
	#send-form{
		font-family: Calibri;
		color: black;
	}
	#send-form input{
		position:absolute;
		left:5%;
		width:85%;	
		border: 1px solid #009999;
		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	}
	#send-form textarea{
		position:absolute;
		left:5%;
		width:85%;	
		border: 1px solid #009999;
		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	}
