{% extends "include.html" %}
{% block body %}
<title>ByteMail ({{ num }})</title>
<div id="message-container">
        <form method='post'> <input type='text' name='name' placeholder='Name'/> <input type='text' name='addr' placeholder='Address'><input type='submit' value='Add' class='delete-button'/>
        <form name="delete-messages" method='POST'>
            <div class="messages">
                <br/>
                {% for x in  addresses  %}
						<span class="checkbox"> <input type="checkbox" name='delete' value="{{ x['name'] }}"/> </span>
					
                        <span class='title'> {{ x['name'] }}</span>
                        <span class="sender">{{ x['addr'] }}</span><br/>
						{% endfor %}
						
					
				</div>
                <br/>		<button name='delete-btn' class="delete-button">Delete</button>
		</form>
	</div>

{% endblock%}
