<html>
    <head>
		<link rel='stylesheet' type='text/css' href='../static/style.css'/>
		
        <!-- Top Head -->
			<div id="top-bar">
				<!-- Logo -->
					<div id="logo">
						Byte Mail
					</div id="logo">
				<!-- Address -->
					<div id="address">
						My Address: {{ addr }}
					</div>
				<!-- Link Bar -->
			</div>
		
		<!-- Side Bar -->
        <div class='links'>
            <a href='/'>Inbox({{ num }})</a> <br/>
            <a href='/send/'>Send</a> <br/>
	    <a href="/sent/"> Sent </a> <br/>
	    <a href="/addressbook/">Contacts</a><br/>
        </div>

    </head>
    {% block body %}

    {% endblock%}
</html>
