{% extends "include.html" %}
{% block body %}
<title>ByteMail ({{ num }})</title>
	<div id="message-container">
		<form name="delete-messages" method='POST'>
            {% for x in  messages  %}
				<div class="messages">
						<span class="checkbox"> <input type="checkbox" name='delete' value="{{ x['id'] }}"/> </span>
                        <a href='/read/{{ x['id'] }}'>
                        <span class="sender">{{ x['from'] }}</class>
						<span class="subject">{{ x['title'] }}</span>
						<span class="time">{{ x['time'] }}</span> 
					
                    </div>
                </a>
                {% endfor %}<br/>
			<button class="delete-button">Delete</button>
		</form>
	</div>
    <script>
        setTimeout(function(){window.location = "/";}, 10000);
    </script>
{% endblock%}
