{% include "include.html" %}
{% block body %}
<title>ByteMail</title>
		
<!-- Send Message -->
<link rel='stylesheet' href='../../../static/style.css'/>
        <div id="send-container">
				<form id="send-form" method='POST'>
                    To: <input id="to" type="text" name="to" value="{{ to }}"/> <br/> <br/>
                    Title: <input id="title" type="text" name="title" value="re: {{title}}"/> <br/> <br/>
					Body: <textarea type="textarea" id="text" rows="10" value="Body" name='message'></textarea>
		
					<div id="send-button-container"><button type='submit' class="delete-button">Send</button></div>
				</form>
			</div>
{% endblock %}
