{% extends "include.html" %}
{% block body %}
<title>ByteMail ({{ num }})</title>
	<div id="message-container">
		<form name="delete-messages" method='POST'>
			{% for x in  messages  %}
				<div class="messages">
                    <span class="checkbox"> <input type="checkbox" name="delete" value={{ x['id'] }}/> </span>
					
						<span class="sender">{{ x['to'] }}</class>
						<span class="subject">{{ x['title'] }}</span>
						<span class="time">{{ x['time'] }}</span> 
					
				</div>
                {% endfor %}<br/>
			<button class="delete-button">Delete</button>
		</form>
	</div>
{% endblock%}
